@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.prevent-select {
  -user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.loader {
  background: conic-gradient(transparent, #101720);
}