@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prevent-select {
  -user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}